.App {
  text-align:center;
  display: flex;
  flex-direction: column;
}

.bitlogo {
  animation: bitlogo-spin infinite 20s linear;
  height: 40px;
  margin: auto;
}

.App-header {
  background-color: lightblue;
  height: 50px;
  padding: 10px;
  margin-top: 10px;
  color: #B8860B;
}

.App-title {
  font-size: 1.5em;
  align-content: space-around;
}

.App-Currency {
  font-family: cursive;
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
  color: #B8860B;
}

@keyframes bitlogo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul {
  list-style-type: none;
  padding: 2;
}

.Exchange {
  font-family: cursive;
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.title {
  color:#B8860B;
  font-weight: bold;
  text-decoration:underline;
  font-size: 30px;
}

#container {
    border: 0.5px dashed #B8860B;
    height: 470px;

    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.box1, .box2, .box3 {
    width: 439px;
    height: 460px;
    vertical-align: bottom;
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-top:5px;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:5px;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.box1, .box3 {
    background: lightblue
}

.box2 {
    background: white
}
