.App {
  text-align:center;
  display: flex;
  flex-direction: column;
}

.bitlogo {
  animation: bitlogo-spin infinite 20s linear;
  height: 40px;
  margin: auto;
}

.App-header {
  background-color: lightblue;
  height: 70px;
  padding: 30px;
  margin-top: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  align-content: space-around;
}

.App-Currency {
  font-family: cursive;
  font-size: 30px;
  margin-top: 10px;
}

@keyframes bitlogo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul {
  list-style-type: none;
  padding: 2;
}

.Exchange {
  font-family: cursive;
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.title {
  color:lightblue;
  text-decoration:underline;
}
